body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.desktop {
  display: none;
}

.hero {
  height: 250px;
  width: 250px;
}

.menu {
  width: 90vw;
}

.mobile {
  display: block;
}

.experience {
  /* max-height: ; */
}

.text-box {

}

@media (min-width: 768px){
  .desktop {

    display: block;
  }

  .hero {
    height: 500px;
    width: 500px;
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .experience {
    /* max-height: 450px;
    overflow: scroll; */
  }
}


@media (min-width: 1024px){
  
  .hero {
    height: 800px;
    width: 700px;
  }

}


@media (min-width: 1400px){
  
  .hero {
    height: 1000px;
    width: 800px;
  }

}